.ToggleGroup {
@apply inline-flex overflow-hidden bg-indigo-200 rounded-md shadow-sm;
}
.ToggleGroupItem {
  all: unset;
  @apply flex items-center justify-center w-8 h-8 text-base leading-none text-indigo-600 duration-300 bg-white cursor-pointer hover:text-white hover:bg-indigo-900;
}
.ToggleGroupItem:first-child {
  @apply ml-0;
}
.ToggleGroupItem[data-state=on] {
  @apply bg-indigo-500 text-indigo-100
}
/*
const StyledToggleGroup = styled(ToggleGroupPrimitive.Root, {
  display: 'inline-flex',
  backgroundColor: mauve.mauve6,
  borderRadius: 4,
  boxShadow: `0 2px 10px ${blackA.blackA7}`,
});

const StyledItem = styled(ToggleGroupPrimitive.Item, {
  all: 'unset',
  backgroundColor: 'white',
  color: mauve.mauve11,
  height: 35,
  width: 35,
  display: 'flex',
  fontSize: 15,
  lineHeight: 1,
  alignItems: 'center',
  justifyContent: 'center',
  marginLeft: 1,
  '&:first-child': { marginLeft: 0, borderTopLeftRadius: 4, borderBottomLeftRadius: 4 },
  '&:last-child': { borderTopRightRadius: 4, borderBottomRightRadius: 4 },
  '&:hover': { backgroundColor: violet.violet3 },
  '&[data-state=on]': { backgroundColor: violet.violet5, color: violet.violet11 },
  '&:focus': { position: 'relative', boxShadow: `0 0 0 2px black` },
});

*/