.container {
  @apply p-0;
}

.main {
  @apply flex flex-col items-center justify-center min-h-screen pb-24 bg-gray-900;
}

.HomeItem {
  @apply relative flex flex-col items-center justify-center w-full p-4 pb-16 mx-auto overflow-hidden duration-300 bg-gray-200 shadow-2xl focus-within:bg-indigo-200 rounded-xl;
}

.tags {
  @apply flex flex-wrap items-center justify-center;
}

.tags span {
  @apply px-3 py-1 mb-2 mr-2 text-sm font-bold text-gray-100 uppercase bg-gray-300 rounded bg-opacity-10 font-title;
}

.links {
  @apply absolute bottom-0 left-0 right-0 z-10 w-full;
  @apply flex items-center justify-between p-3 px-6 space-x-3 font-bold bg-indigo-100 font-title;
}

.links p {
  @apply text-sm text-gray-700;
}

.links a {
  @apply text-sm text-indigo-700 hover:text-indigo-900;
}

.typography {
  @apply p-6 mx-auto bg-white;
  @apply  prose lg:prose-lg prose-indigo xl:prose-xl;
}

.typography blockquote p {
  font-family: "Alegreya", sans-serif;
  font-weight: 500;
  font-style: italic;
}

@supports (font-variation-settings: normal) {
  .typography blockquote p {
    font-family: "Alegreya";
    font-variation-settings: "wght" 500;
    font-variation-settings: "ital" 1;
  }
}

.typography h3 {
  @apply font-title;
}
