.Container {
  @apply relative flex flex-col items-center justify-center;
}

.Content {
  @apply w-full max-w-xs p-6 transition-all bg-white border-b-4 border-indigo-500 rounded-md shadow-md;
}

.Content[data-state="open"] {
  animation: slideUpAndFade 0.3s linear;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(9px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Arrow {
  @apply text-white fill-current;
}

.Trigger {
  @apply flex flex-col items-center justify-center w-10 h-10 overflow-hidden duration-300 bg-indigo-700 rounded-full cursor-pointer focus:shadow-xl hover:bg-indigo-900;
}

.ImageTrigger {
  all: unset;
  @apply block text-2xl text-indigo-100 rounded-full;
}
